.experience__browser {
    width: 100%;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    background-color: var(--color-surface);
}

.browser__header {
    padding: var(--spacing-sm) var(--spacing-md);
    border-bottom: 1px solid var(--color-border);
}

.browser__search-bar {
    width: 60%;

    display: flex;
    align-items: center;
    gap: var(--spacing-sm);

    padding: var(--spacing-sm);

    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);

    font-size: 0.80rem;
    color: var(--color-text-muted);
}

.browser__controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-sm);

    background-color: var(--color-surface);
    color: var(--color-text);
    
    border: none;
    border-radius: 50%;

    width: 36px;
    height: 36px;
    font-size: 1rem;

    cursor: pointer;
    transition: 0.3s;
}

.browser__controls button:hover {
    background-color: var(--color-surface-hover);
    border-radius: 50%;
}

.browser__content-container {
    padding: var(--spacing-md) 2rem;
}

.browser__content-container span{
    font-size: 0.80rem;
    color: var(--color-text-muted);
}



.browser__title {
    font-size: 1.2rem;
}

.browser__title:hover {
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: underline;
}

.browser__content {
    font-size: 0.90rem;
    color: var(--color-text-muted);
}

/* Navegation */
.browser__results {
    gap: 12px;
    padding: var(--spacing-md) 0;
}

.browser__results.inactive {
    display: none;
}

.browser__page {
    display: none;
}

.browser__page.active {
    display: block;
}