.carousel-wrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    /* Necessário para posicionar os botões */
    border-radius: 15px;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.item {
    flex: 0 0 100%;
}

.item img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.nav-controls button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-surface);
    color: var(--color-text);
    font-size: 1rem;

    width: 36px;
    height: 36px;
    border: 1px solid var(--color-surface-hover);
    border-radius: 50%;

    box-shadow: var(--shadow-sm);

    cursor: pointer;
    transition: 0.3s;
}

.nav-controls button:hover {
    background-color: var(--color-surface-hover);
}