.cursor::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 1rem;
  background-color: var(--color-primary);
  margin-left: 4px;
  
  vertical-align: top;
  
  animation: blink 1s steps(1) infinite;
}

.cursor-shell::before {
  content: '>_ ~';
  color: var(--color-primary);
  margin-right: 0.5rem;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}